<article>
  <h3><%= @post.title %></h3>
  <blockquote>
    <%= @post.text %>
  </blockquote>
  <p class="bg-info">Тема заметки:
    <%= case @post.theme
          when 'life'
            ('Жизнь')
          when 'work'
            ('Работа')
          else
            ('Без темы')
        end %>
  </p>
</article>
<div class="post_links">
  <% if current_user && current_user.admin %>
      <p>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i><%= link_to 'Редактировать заметку', edit_post_path, class: "btn btn-link", role: 'button' %>
      </p>
      <p>
        <i class="fa fa-trash" aria-hidden="true"></i><%= link_to 'Удалить заметку', post_path(@post), method: :delete, data: {confirm: 'Вы уверены?'}, class: "btn btn-link", role: 'button' %>
      </p>
  <% end %>
  <p><i class="fa fa-step-backward" aria-hidden="true"></i><%= link_to 'Вернуться ко всем заметкам',
                                                                       {:controller => :posts},
                                                                       {:class => "btn btn-link", :role => 'button'} %>
  </p>
</div>
<section id="comments">
  <%= render 'comments/comments' %>
</section>


